<div class="container mt-3">

    <div class="row">

        <div class="col-6">

            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Class</mat-label>
                <mat-select [(ngModel)]="standard" placeholder="Select Day" (ngModelChange)="getSubjects()">
                    <mat-option *ngFor="let s of standards" [value]="s.standardId">{{s.standard}}</mat-option>
                </mat-select>
            </mat-form-field>

        </div>

        <div class="col-6">

            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Select section</mat-label>
                <mat-select placeholder="Select section">
                    <mat-option value="A">A</mat-option>
                    <mat-option value="B">B</mat-option>
                    <mat-option value="C">C</mat-option>
                </mat-select>
            </mat-form-field>

        </div>

    </div>

    <div class="row" *ngFor="let t of time">

        <div class="col my-auto">

            <div>{{ t.name }} ({{ t.time }}) </div>

        </div>

        <div class="col">

            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Subject</mat-label>
                <mat-select placeholder="Select subject">
                    <mat-option *ngFor="let t of subjects" [value]="t.subjectId">{{ t.subject }}</mat-option>
                </mat-select>
            </mat-form-field>

        </div>

        <div class="col">

            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Teachers</mat-label>
                <mat-select placeholder="Select teacher">
                    <mat-option *ngFor="let t of teachers" [value]="t">{{t}}</mat-option>
                </mat-select>
            </mat-form-field>

        </div>

    </div>

    <div class="row my-3">

        <div class="col my-auto">
            <p>Apply to</p>
        </div>

        <div class="col">
            <mat-checkbox class="example-margin">Monday</mat-checkbox>
        </div>

        <div class="col">
            <mat-checkbox class="example-margin">Tuesday</mat-checkbox>
        </div>

        <div class="col">
            <mat-checkbox class="example-margin">Wednesday</mat-checkbox>
        </div>

        <div class="col">
            <mat-checkbox class="example-margin">Thursday</mat-checkbox>
        </div>

        <div class="col">
            <mat-checkbox class="example-margin">Friday</mat-checkbox>
        </div>

        <div class="col">
            <mat-checkbox class="example-margin">Saturday</mat-checkbox>
        </div>

    </div>
    
    <div class="text-center">
        <button mat-raised-button color="primary" (click)="addTimeTable()">Schedule</button>
    </div>

</div>