<div class="star">
    <div class="container-fluid">

        <div class="row text-center my-2">
            <span class="head-tag">Questions</span>
        </div>
    
        <div class="row my-3 mx-2" style="box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);">
    
                <div class="col-md-1 px-0 bg-white">
                    <div class="pt-2 pl-2">Filters</div>
                </div>
                <div class="col-md px-0">
                    <select class="filter-select" name="type" [(ngModel)]="type">
                        <option value="">Type</option>      
                        <option value="Practice">Practice</option>
                        <option value="Test">Test</option>
                        <option value="Contest">Contest</option>
                    </select>
                </div>  
                <div class="col-md px-0">
                    <select class="filter-select" name="standard" [(ngModel)]="standard">
                        <option value="">Standard</option>      
                        <option *ngFor="let standard of noDupStandards" [ngValue]="standard">Class {{ standard }}</option>      
                    </select>
                </div>
                <div class="col-md px-0">
                    <select class="filter-select" name="subject" [(ngModel)]="subject">
                        <option value="">Subejct</option>      
                        <option *ngFor="let subject of noDupSubjects" [ngValue]="subject">{{ subject }}</option>      
                    </select>
                </div>
                <div class="col-md px-0">
                    <select class="filter-select" name="topic" [(ngModel)]="topic">
                        <option value="">Topic</option>      
                        <option *ngFor="let topic of noDupTopics" [ngValue]="topic">{{ topic }}</option>      
                    </select>
                </div>
                <div class="col-md px-0">
                    <select class="filter-select" name="type" [(ngModel)]="status">
                        <option value="">Status</option>      
                        <option value="APPROVED">APPROVED</option>
                        <option value="ONEMORE_REVIEW_IS_REQUIRED">ONEMORE_REVIEW_IS_REQUIRED</option>
                        <option value="MODIFY">MODIFY</option>
                        <option value="DECLINED">DECLINED</option>
                    </select>
                </div>
                <div class="col-md px-0">
                    <select class="filter-select" name="username" [(ngModel)]="username" (change)="watch()">
                        <option value="">User</option>
                        <option *ngFor="let user of noDupUsers"  [ngValue]="user">{{ user }}</option>
                    </select>
                </div>
    
        </div>
    
        <div class="row my-2 mx-2">
    
            <!-- <span>{{ filterMetadata.count }}</span> -->
    
            <table class="table">
                <thead>
                    <tr>
                        <th class="table__heading">S.no</th>
                        <th class="table__heading">Id</th>
                        <th class="table__heading">Title</th>
                        <th class="table__heading">Type</th>
                        <th class="table__heading">Standard</th>
                        <th class="table__heading">Subject</th>
                        <th class="table__heading">Topic</th>
                        <th class="table__heading">user</th>
                        <th class="table__heading">Status</th>
                        <th class="table__heading">Posted on</th>
                        <!-- <th class="table__heading">Approval History</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr class="table__row" *ngFor="let q of Questions | filterType : type : filterMetadata | filterStandards : standard : filterMetadata | filterSubjects : subject : filterMetadata | filterTopics : topic : filterMetadata | filterUsers : username : filterMetadata | filterStatus : status : filterMetadata;let i=index" (click)="preview(q.qid)">
                        <td class="table__content" data-heading="Id">{{i+1}}</td>
                        <td class="table__content" data-heading="Id">{{ q.qid }}</td>
                        <td class="table__content" data-heading="Title">{{ q.title }}</td>
                        <td class="table__content" data-heading="Type">{{ q.type }}</td>
                        <td class="table__content" data-heading="Standard">{{ q.standard }}</td>
                        <td class="table__content" data-heading="Standard">{{ q.subject }}</td>
                        <td class="table__content" data-heading="Standard">{{ q.topic }}</td>                                
                        <td class="table__content" data-heading="Username">{{ q.userInfo?.userName }}</td>
                        <td class="table__content" data-heading="Status">{{ q.approvalStatus }}</td>
                        <td class="table__content" data-heading="Posted on">{{ q.insertedTime | date:'d-MM-yyyy' }}</td>
                        <!-- <td class="table__content" data-heading="History">
                            <p *ngFor="let approvalInfo of q.approvalInfo">
                                {{ approvalInfo.adminId }} <br>{{ approvalInfo.authentication }} <br> {{ approvalInfo.authenticatedAt | date: 'd-MM-yyyy' }}
                            </p>
                        </td> -->
                      </tr>
                </tbody>
            </table>
    
        </div>
    
    </div>
</div>