<div class="container-fluid">

    <div class="row">

        <div class="col-md-6 vh-100 grad-bg text-center">

            <img src="../../../assets/images/forgot-password.svg" class="img-responsive forgot-pass-img" alt="">

        </div>

        <div class="col-md-6 my-auto">

            <form [formGroup]="forgotPasswordForm">

                <mat-card class="example-card mx-auto grad-bg">

                    <mat-card-header class="mt-3">
                        <mat-card-title>
                            <span class="title-head">Forgot Password</span>
                        </mat-card-title>
                    </mat-card-header>
    
                    <mat-card-content class="my-2">
    
                        <div>
                            <mat-form-field class="example-full-width" appearance="outline">
    
                                <mat-label>Mobile Number</mat-label>
        
                                <input [attr.disabled]="otpField" type="text" matInput placeholder="Mobile" formControlName="mobileNo">
        
                                <mat-error *ngIf="f.mobileNo.errors">
                                    <span *ngIf="f.mobileNo.errors.required"> Mobile required </span>
                                </mat-error>

                            </mat-form-field>
                        </div>

                        <div *ngIf="otpField">
                            <mat-form-field class="example-full-width" appearance="outline">
    
                                <mat-label>Password</mat-label>
        
                                <input type="text" matInput placeholder="Password" formControlName="newPassword">
                                
                                <mat-error *ngIf="f.newPassword.errors">
                                    <span *ngIf="f.newPassword.errors.required"> Password required </span>
                                </mat-error>

                            </mat-form-field>
                        </div>

                        <div *ngIf="otpField">
                            <mat-form-field class="example-full-width" appearance="outline">
    
                                <mat-label>Confirm Password</mat-label>
        
                                <input type="text" matInput placeholder="Confirm Password" formControlName="confirmPw">
        
                                <mat-error *ngIf="f.confirmPw.errors">
                                    <span *ngIf="f.confirmPw.errors.required"> Password required </span>
                                </mat-error>

                            </mat-form-field>
                        </div>
    
                        <div *ngIf="otpField">
                            <mat-form-field class="example-full-width" appearance="outline">
    
                                <mat-label>OTP</mat-label>
        
                                <input type="text" matInput placeholder="Enter otp" formControlName="otp">
        
                                <mat-error *ngIf="f.otp.errors">
                                    <span *ngIf="f.otp.errors.required"> Otp required </span>
                                </mat-error>

                            </mat-form-field>
                        </div>

                        <div class="text-center">
                            <button class="mx-2 btn-bg" (click)="sendOTP()" mat-raised-button> {{ otpField ? 'Update' : 'Send otp' }} </button>
                            <button class="mx-2 btn-bg" (click)="resendOTP()" *ngIf="otpField" [disabled]="timeLeft != 0" mat-raised-button>Resend</button> <span *ngIf="otpField && timeLeft != 0" class="ml-2"> {{ timeLeft }}</span>
                        </div>
    
                    </mat-card-content>
    
                </mat-card>

            </form>

        </div>

    </div>

</div>